a {
  color: black;
}

.image {
  position: relative;
  text-align: center;
}

.number {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: orange;
  color: black;
  font-size: 20px;
  border-radius: 0px 0px 0px 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

#demo a {
  color: white;
}

.space,
.arrows {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}

.icons {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.icons a {
  display: block;
  text-align: center;
  color: white;
  font-size: 15px;
  background-color: black;
  padding: 10px;
  margin-top: 5px;
}

#demo {
  display: flex;
}

.numbers {
  float: right;
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px;
}
.ceva:hover {
  box-shadow: 1px 1px 2px 2px; 
  color: orange;
} 
